* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: right !important;
}
body a {
  text-decoration: none !important;
}
.z-1 {
  z-index: 1;
}
.z-2 {
  z-index: 2;
}
.xl {
  font-size: xx-large;
}
.sm {
  font-size: small;
}
.dr {
  direction: rtl;
}
.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}
.circle{
  border-radius: 50% !important;
}
.hover-gray:hover {
  background-color: #444f59 !important;
}
.hover-blue:hover {
  background-color: #1671cb !important;
}
.hover-none:hover {
  background-color: transparent !important;
}
.font-sm{
  font-size: medium !important;
}
.large {
  font-size: large;
}
.direction {
  direction: rtl;
}
.header .detail {
  background-color: #282b2e;
}
.social-media {
  margin-left: 20px;
}
#google-icon {
  margin-right: 6px;
}
#skype-icon {
  width: 23px;
  height: 23px;
}
.icons-size {
  width: 25px;
  height: 25px;
}
#phone-icon {
  padding-left: 10px;
  border-left: 2px solid #444f59;
}
.social-media p {
  color: white;
  display: inline;
}
/*start date and time */
.date-time {
  color: white;
}
.date-time p {
  padding: 0 10px;
  margin-top: 10px;
}
.time {
  border-left: 2px solid gray;
  border-right: 2px solid gray;
}
/* end date and time */
/* start navbar */
#navbar {
  background-color: #1172d3;
  direction: rtl;
}
#navbar .nav-link {
  color: white;
}
/* start button */
#button {
  background-color: #46c83c;
  color: white;
  border-radius: 30px;
}
#button i {
  font-size: 22px;
}
/* end button */
/* end navbar */

.group ul {
  color: blue;
}
#d-none {
  display: none !important;
}

/* start footer */
.footer {
  background-image: url(../img/footer-background.jpg);
  background-size: cover;
}
#footer-btn {
  right: 25px;
  bottom: 25px;
}
/* end footer */

@media screen and (max-width: 700px) {
  body {
    text-align: center !important;
  }
  #d-none {
    display: flex !important;
  }
  #d-none-r {
    display: none !important;
  }
}
