
body{
  background-color: #f4f6f8 !important;

}
.group ul {
    color: blue;
  }
  #d-none {
    display: none !important;
  }
  .d-column{
    display: flex;
    flex-direction: row-reverse;
  }

@media screen and (max-width: 700px) {
  .d-column{
    display: flex !important;
    flex-direction: column !important;
  }
    #d-none {
      display: flex !important;
    }
    #d-none-r {
      display: none !important;
    }
  }