* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.z-1{
  z-index: 1;
}
.z-2{
  z-index: 2;
}
.xl{
  font-size: xx-large;
}
.direction{
  direction: rtl;
}
.header .detail {
  background-color: #282b2e;
}
.social-media{
    margin-left: 20px;
}
#google-icon {
  margin-right: 6px;
}
#skype-icon {
  width: 23px;
  height: 23px;
}
.icons-size {
  width: 25px;
  height: 25px;
}
#phone-icon {
  padding-left: 10px;
  border-left: 2px solid #444f59;
}
.social-media p{
  color: white;
  display: inline;
}
/*start date and time */
.date-time{
  color: white;
}
.date-time p{
  padding: 0 10px;
  margin-top:10px;
}
.time{
  border-left: 2px solid gray;
  border-right: 2px solid gray;

}
/* end date and time */
/* start navbar */
#navbar{
  background-color: #1172d3;
  direction: rtl;
}
#navbar .nav-link{
  color: white;
  padding: 15px;
}
/* start button */
#button{
  background-color: #46c83c;
  color: white;
  border-radius: 30px;
}
#button i{
  font-size: 22px;
}
/* end button */
/* end navbar */
/* start widget */
.widget p{ 
  color: #7f7f7f;
}
.widget .card:hover{
  background-color: #f7f7f7;

}
/* end widget */
/* start paragraph */
.paragraph{
  background-color: #f4f6f8;
}
/* end paragraph */
/* start media parent */
#media-parent{
  background-image: url('../img/man-station.jpg');
  background-size: cover;
  color: white;
}
/* end media parent */
/* start choice */
.choice{
  background-image: url(../img/footer_bg.jpg);
}
/* end choice */