* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: right !important;
}
.under-header {
	transform: skew(-20deg);
	background: rgb(236, 236, 236);
    margin-right: 4px;
    padding: 5px;
    font-size: 11px;
}
#line{
  color: gainsboro;
  border: 1px solid gainsboro;
  width: 70%;
  margin: auto 0;

}
.bg-white{
  background-color: white;
}
.z-1 {
  z-index: 1;
}
.z-2 {
  z-index: 2;
}
.xl {
  font-size: xx-large;
}
.small {
  font-size: small;
}
.dr {
  direction: rtl;
}
.dl {
  direction: ltr !important;
}
.hover-gray:hover {
  background-color: #444f59 !important;
  cursor: pointer;
}
.hover-blue:hover {
  background-color: #1671cb !important;
  cursor: pointer;
  transition: 0.6s;
}
.hover-none:hover {
  background-color: transparent !important;
}
.hover-blue-gray{
  background-color: gray !important;
    cursor: pointer;

}
.hover-blue-gray:hover{
  background-color: royalblue !important;
  cursor: pointer;

}
.hover-lightgray:hover{
  background-color: rgba(245, 244, 244, 0.631) !important;
  cursor: pointer;
}
.large {
  font-size: 25px !important;
}
.direction {
  direction: rtl;
}
.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}
.bg-lightgray{
  background-color: rgba(237, 235, 235, 0.644) !important;
}
.header{
  background-color: #282b2e;
}
.social-media {
  margin-left: 20px;
}
#google-icon {
  margin-right: 6px;
}
#skype-icon {
  width: 23px;
  height: 23px;
}
.justify{
  text-align: justify !important;
}
.icons-size {
  width: 25px;
  height: 25px;
}
#phone-icon {
  padding-left: 10px;
  border-left: 2px solid #444f59;
}
.social-media p {
  color: white;
  display: inline;
}
/*start date and time */
.date-time {
  color: white;
}
.date-time p {
  padding: 0 10px;
  margin-top: 10px;
}
.time {
  border-left: 2px solid gray;
  border-right: 2px solid gray;
}
/* end date and time */
 
.fluid{
  border-radius: 50%;
  overflow: hidden;
}
.zoom {
  transition: transform .2s; /* Animation */
  margin: 0px 0px;
}

.zoom:hover {
  transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  cursor: pointer;
  transition: 0.5s;
}

.zoom-sm {
  transition: transform .2s; /* Animation */
  margin: 5px 5px;
}

.zoom-sm:hover {
  transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  cursor: pointer;
  transition: 0.5s;


}


.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  height: 100%;
  transition: .5s ease;
  cursor: pointer;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 35px 10px;
  text-align: center;
}

.overlay-container:hover .overlay {
  opacity: 1;
}
/* start navbar */
#navbar {
  background-color: #1172d3;
  direction: rtl;
}
#navbar .nav-link {
  color: white;
}

/* start button */
#button {
  background-color: #46c83c;
  color: white;
  border-radius: 30px;
}
#button i {
  font-size: 22px;
}

/* end button */
.p-none{
  padding: 15px !important;
}
.m-none{
  margin: 0!important;
}
.p-sm{
  font-size: medium !important;
}

/* start footer */
.footer {
  background-image: url(../img/footer-background.jpg);
  background-size: cover;
}
#footer-btn {
  right: 25px;
  bottom: 25px;
}
/* end footer */
.border-none{
  border-right: 1px solid rgb(230, 227, 227) !important;
}
@media screen and (max-width: 700px) {
  body {
    text-align: center !important;
  }
  p{
    direction: rtl;
    text-align: justify !important;
  }
  .p-sm{
    font-size: 10px !important;
    margin: auto 0;
    direction: rtl;
    
  }
  .text-size{
    font-size: small;
    width: 100% !important;
  }
  .p-sm-btn{
    font-size:7px !important;
  }
  .border-none{
    border-right: none !important;
  }
}
@media screen and (max-width: 992px) {
  .social-media {
    margin: 0 auto !important;
  }
  .date-time {
    margin: 0 auto !important;
  }
}
@media screen and (max-width: 500px) {
  .date-time div {
    margin: 0 auto;
  }
  .overlay{
    font-size: 15px;
  }
}
@media screen and (max-width:1200px) {
  .p-none{
    padding: 8px !important;
  }
  .m-none{
    margin: 12px!important;
  }
  
  
}